.grid {
    align-self: center;
    width: 400px;
    height: 600px;
    background-image: url('https://cdn.pixabay.com/photo/2016/05/20/14/07/video-game-background-1405076_1280.png');
    background-position: 5% 95%;
    position: relative;
    font-size: 200px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doodler {
    width: 60px;
    height: 85px;
    background-image: url('https://cdn.pixabay.com/photo/2020/02/08/17/09/unicorn-4830680_1280.png');
    background-size: 80px 100px;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/02/10/14/cloud-303181__340.png');
    background-size: 95px 25px;
    position: absolute;
}